@import "../../styles/index.scss";

.shipmentDetails {

    .shipmentTitle {
        margin-bottom: 30px;

        .shipmentTitleName {
            font-weight: normal;
            font-size: 64px;
            line-height: 74px;

            @include tablet {
                font-size: 28px;
                line-height: 38px;
            }
        }

        .shipmentTitleEmail {
            color: $secondTextColor;
        }
    }

    .shipmentBoxes {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        .shipmentBoxesLabel {
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: $secondTextColor;
            margin-bottom: 10px;
        }

        .shipmentBoxesInput {
            border-radius: 10px;
            box-sizing: border-box;
            width: 320px;
            height: 50px;
            outline: none;
            border: none;
            padding: 13px 40px 13px 20px;

            font-size: 16px;
            line-height: 24px;

            @include tablet {
                width: 305px;
                height: 40px;
                padding: 10.4px 19.06px;
            }

            @include tablet {
                width: 100%;
            }
        }
    }

    .shipmentResult {
        display: flex;
        flex-direction: column;
        
        .shipmentResultText {
            font-size: 34px;
            line-height: 44px;
            color: $secondTextColor;

            @include tablet {
                font-size: 18px;
                line-height: 20px;
            }

            @include mobile {
                text-align: center;
            }
        }

        .shipmentResultValue {
            font-size: 56px;
            line-height: 66px;

            @include tablet {
                font-size: 34px;
                line-height: 44px;
            }

            @include mobile {
                text-align: center;
            }
        }
    }
}