// Reset all styles
@import "./reset.scss"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// ------------ Variables ------------

$mainBgColor: #1B1D22;
$mainTextColor: #FFFFFF;
$secondTextColor: #979797;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $mainBgColor;
    color: $mainTextColor;
    height: 100vh;
}


// ------------ Mixins ------------

@mixin tablet {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

