// Reset all styles
@import "./reset.scss"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// ------------ Variables ------------

$mainBgColor: #1B1D22;
$mainTextColor: #FFFFFF;
$secondTextColor: #979797;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $mainBgColor;
    color: $mainTextColor;
    height: 100vh;
}


// ------------ Mixins ------------

@mixin sm {
    @media (max-width: 580px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (max-width: 1200px) {
        @content;
    }
}
