.appWrapper {
    display: flex;
    height: 100%;
    padding: 40px 44px 51px 40px;
    box-sizing: border-box;
    
    .appNavbar {
        min-width: 360px;
    }

    .appMain {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}