

.ShipmentItem {
    font-weight: 400;
    line-height: 24px;

    height: 30px;
    width: 269px;
    border-radius: 10px;
    padding: 2px 0 4px 1px;
    box-sizing: border-box;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.ShipmentItemActive {
    background: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, #2D3038 100%);
}

