@import "../../styles/index.scss";

.search {
    position: relative;

    .searchInput {
        outline: none;
        border: none;

        background: $mainTextColor;
        border-radius: 10px;
        box-sizing: border-box;
        width: 320px;
        height: 50px;
        padding-left: 51px;

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000;

        &::placeholder {
            color: #000;
        }

        @include mobile {
            width: 100%;
        }
    }

    .searchIcon {
        position: absolute;
        top: 15px;
        left: 15px;
    }
}