@import "../../styles/index.scss";

.searchResult {
    
    .searchTitle {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    .searchList {

        .searchItem {
            cursor: pointer;
            color: $secondTextColor;
            height: 70px;
            max-width: 300px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            border: 1px solid $secondTextColor;
            background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
            transition:  .3s ease;

            &:hover {
                color: $mainTextColor;
                border: 1px solid $mainTextColor;
            }
        }
        
        .searchEmpty {
            font-size: 15px;
            color: $secondTextColor;
        }
    }
}